/* Products Area Style
============================================*/
.products-single-item {
  margin-bottom: 50px;
  .product-img {
    margin-bottom: 20px;
    img {
      border-radius: 10px;
    }
    .btn {
      bottom: 5px;
      left: 5px;
      right: 5px;
      position: absolute;
      border-radius: 6px;
      background: rgba(255, 255, 255, 0.8);
      backdrop-filter: blur(6.5px);
      color: var(--secondary);
      &:hover {
        color: var(--white);
        background-color: var(--primary);
      }
    }
  }
  .review {
    margin-bottom: 3px;
    li {
      margin-right: 2px;
      &:last-child {
        margin-right: 0;
      }
      i {
        color: var(--primary);
      }
    }
  }
  h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    margin-bottom: 15px;
    a {
      text-decoration: none;
      color: var(--secondary);
    }
  }
  h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    color: var(--grey-teal);
    del {
      margin-right: 5px;
    }
  }
  &:hover {
    h3 {
      a {
        color: var(--primary);
      }
    }
  }
}
.products-details-img {
  img {
    border-radius: 20px;
  }
}
.products-details-content {
  margin-left: 85px;
  h2 {
    color: var(--white);
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: -1.2px;
  }
  .star {
    margin-bottom: 30px;
    li {
      i {
        color: var(--primary);
      }
      span {
        color: #a49e9f;
      }
      &:last-child {
        margin-left: 10px;
      }
    }
  }
  h3 {
    font-size: 32px;
    font-weight: 600;
    color: var(--grey-teal);
    margin-bottom: 30px;
  }
  .sku-list {
    margin-top: 150px;
    background-color: var(--white);
    li {
      margin-bottom: 10px;
      font-size: 16px;
      .text-secondary {
        font-size: 14px;
        margin-right: 8px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
.product-quantity {
  .add-to-cart-counter {
    background-color: var(--primary);
    border: 1px solid var(--white);
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    .minusBtn {
      width: 30px;
      height: 30px;
      line-height: 26px;
      text-align: center;
      display: inline-block;
      background-color: transparent;
      border: 1px solid var(--white);
      color: var(--white);
      border-radius: 4px;
    }
    .count {
      text-align: center;
      height: 30px;
      border: none;
      background-color: transparent;
      color: var(--white);
    }
    .plusBtn {
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      display: inline-block;
      background-color: transparent;
      border: 1px solid var(--white);
      color: var(--white);
      border-radius: 4px;
    }
  }
}
.products-description {
  margin-right: 120px;
  .description-liist {
    margin-top: 20px;
    margin-bottom: 100px;
    li {
      font-size: 18px;
      margin-bottom: 12px;
      i {
        color: var(--grey-teal);
        font-size: 24px;
        margin-right: 10px;
        position: relative;
        top: -1px;
      }
      span {
        color: var(--secondary);
      }
    }
  }
  .comments-wrap {
    h3 {
      border-bottom: 1px solid #dce5e5;
      padding-bottom: 30px;
      margin-bottom: 30px;
      font-size: 30px;
      font-weight: 500;
    }
  }
  .comment-list {
    position: relative;
    img {
      border-radius: 4px;
    }
    h4 {
      font-size: 18px;
      font-weight: 400;
    }
    span {
      font-size: 14px;
      display: block;
      margin-bottom: 17px;
    }
    p {
      line-height: 28px;
    }
    .start {
      position: absolute;
      top: 0;
      right: 0;
      li {
        i {
          color: var(--primary);
          font-size: 16px;
        }
      }
    }
  }
  .comment-form {
    .mb-35 {
      margin-bottom: 35px;
    }
    h3 {
      margin-bottom: 20px;
      font-size: 30px;
      font-weight: 500;
    }
    .review {
      span {
        color: var(--secondary);
        position: relative;
        top: -2px;
        margin-right: 10px;
      }
      ul {
        li {
          i {
            color: var(--primary);
          }
        }
      }
    }
    textarea {
      &.form-control {
        height: auto;
      }
    }
    .form-control {
      background-color: transparent;
      border-color: #dce5e5;
    }
  }
}
.description-tabs {
  border: none;
  border-bottom: 1px solid #dce5e5;
  margin-bottom: 40px;
  padding-bottom: 25px;
  .nav-item {
    margin-right: 50px;
    &:last-child {
      margin-bottom: 0;
    }
    .nav-link {
      color: #ad9e9f;
      padding: 0;
      border: none;
      font-size: 30px;
      font-weight: 500;
      letter-spacing: -0.6px;
      &.active {
        color: var(--secondary);
        background-color: transparent;
      }
    }
  }
}

/* Max width 767px */
@media only screen and (max-width: 767px) {
  .products-single-item {
    margin-bottom: 30px;
  }
  .product-quantity {
    .add-to-cart-counter {
      .count {
        width: 50px;
      }
    }
  }
  .products-details-content {
    margin-left: 0;
    margin-top: 30px;
    h2 {
      font-size: 30px;
    }
    h3 {
      font-size: 22px;
    }
    .star {
      margin-bottom: 20px;
    }
    .sku-list {
      padding: 20px !important;
      margin-top: 30px;
    }
  }
  .products-description {
    margin-right: 0;
    .comments-wrap {
      h3 {
        font-size: 25px;
      }
    }
  }
  .description-tabs {
    margin-bottom: 25px;
    padding-bottom: 20px;
    .nav-item {
      .nav-link {
        font-size: 22px;
      }
    }
  }
}

/* Min width 768px to Max width 992px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .products-single-item {
    margin-bottom: 30px;
  }
  .products-description {
    margin-right: 0;
  }
  .description-tabs {
    margin-bottom: 25px;
    padding-bottom: 20px;
    .nav-item {
      .nav-link {
        font-size: 25px;
      }
    }
  }
}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .products-details-content {
    margin-left: 0;
  }
  products-description {
    margin: 0;
  }
  .product-quantity {
    .add-to-cart-counter {
      .count {
        width: 60px;
      }
    }
  }
  .products-description {
    margin-right: 50px;
  }
}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
}

/* Min width 1400px to Max width 1799px */
@media only screen and (min-width: 1400px) and (max-width: 1799px) {
}

@media only screen and (max-width: 1199px) {
}
