/*!
*    ______ _       _   _
*    |  ____| |     | | (_)
*    | |__  | | __ _| |_ _  ___ ___  _ __
*    |  __| | |/ _` | __| |/ __/ _ \| '_ \
*    | |    | | (_| | |_| | (_| (_) | | | |
*    |_|    |_|\__,_|\__|_|\___\___/|_| |_|
*
*         https://www.flaticon.com
*/

@font-face {
    font-family: "flaticon_mycollection";
    src: url("../fonts/flaticon_mycollection.woff2?f0d82fe504c1657a68641587fb02c0d5") format("woff2"),
url("../fonts/flaticon_mycollection.woff?f0d82fe504c1657a68641587fb02c0d5") format("woff"),
url("../fonts/flaticon_mycollection.eot?f0d82fe504c1657a68641587fb02c0d5#iefix") format("embedded-opentype"),
url("../fonts/flaticon_mycollection.ttf?f0d82fe504c1657a68641587fb02c0d5") format("truetype"),
url("../fonts/flaticon_mycollection.svg?f0d82fe504c1657a68641587fb02c0d5#flaticon_mycollection") format("svg")
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_mycollection !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-facebook-app-symbol:before {
    content: "\f101";
}
.flaticon-check:before {
    content: "\f102";
}
.flaticon-minus-sign:before {
    content: "\f103";
}
.flaticon-search-interface-symbol:before {
    content: "\f104";
}
.flaticon-drop-down:before {
    content: "\f105";
}
.flaticon-bookmark:before {
    content: "\f106";
}
.flaticon-left-arrow:before {
    content: "\f107";
}
.flaticon-right-arrow:before {
    content: "\f108";
}
.flaticon-phone-call:before {
    content: "\f109";
}
.flaticon-down-chevron:before {
    content: "\f10a";
}
.flaticon-down-arrow:before {
    content: "\f10b";
}
.flaticon-telephone:before {
    content: "\f10c";
}
.flaticon-facebook:before {
    content: "\f10d";
}
.flaticon-pinterest:before {
    content: "\f10e";
}
.flaticon-whatsapp:before {
    content: "\f10f";
}
.flaticon-youtube:before {
    content: "\f110";
}
.flaticon-united-states:before {
    content: "\f111";
}
.flaticon-linkedin:before {
    content: "\f112";
}
.flaticon-twitter:before {
    content: "\f113";
}
.flaticon-down-arrow-1:before {
    content: "\f114";
}
.flaticon-next:before {
    content: "\f115";
}
.flaticon-previous:before {
    content: "\f116";
}
.flaticon-user:before {
    content: "\f117";
}
.flaticon-email:before {
    content: "\f118";
}
.flaticon-mobile-phone:before {
    content: "\f119";
}
.flaticon-down-arrow-2:before {
    content: "\f11a";
}
.flaticon-smartphone:before {
    content: "\f11b";
}
.flaticon-mail:before {
    content: "\f11c";
}
.flaticon-down-arrow-3:before {
    content: "\f11d";
}
.flaticon-laptop:before {
    content: "\f11e";
}
.flaticon-next-1:before {
    content: "\f11f";
}
.flaticon-view:before {
    content: "\f120";
}
.flaticon-checked:before {
    content: "\f121";
}
.flaticon-pinterest-1:before {
    content: "\f122";
}
.flaticon-whatsapp-1:before {
    content: "\f123";
}
.flaticon-user-1:before {
    content: "\f124";
}
.flaticon-plus:before {
    content: "\f125";
}
.flaticon-trophy:before {
    content: "\f126";
}
.flaticon-placeholder:before {
    content: "\f127";
}
.flaticon-box:before {
    content: "\f128";
}
.flaticon-pin:before {
    content: "\f129";
}
.flaticon-tv:before {
    content: "\f12a";
}
.flaticon-telephone-1:before {
    content: "\f12b";
}
.flaticon-up-arrow:before {
    content: "\f12c";
}
.flaticon-location:before {
    content: "\f12d";
}
.flaticon-check-1:before {
    content: "\f12e";
}
.flaticon-call:before {
    content: "\f12f";
}
.flaticon-check-2:before {
    content: "\f130";
}
.flaticon-heart:before {
    content: "\f131";
}
.flaticon-instagram:before {
    content: "\f132";
}
.flaticon-shopping-cart:before {
    content: "\f133";
}
.flaticon-linkedin-1:before {
    content: "\f134";
}
.flaticon-chevron:before {
    content: "\f135";
}
.flaticon-smart-home:before {
    content: "\f136";
}
.flaticon-instagram-1:before {
    content: "\f137";
}
.flaticon-facebook-1:before {
    content: "\f138";
}
.flaticon-whatsapp-2:before {
    content: "\f139";
}
.flaticon-youtube-1:before {
    content: "\f13a";
}
.flaticon-skype:before {
    content: "\f13b";
}
.flaticon-instagram-2:before {
    content: "\f13c";
}
.flaticon-click:before {
    content: "\f13d";
}
.flaticon-badge:before {
    content: "\f13e";
}
.flaticon-arrow-right:before {
    content: "\f13f";
}
.flaticon-back-in-time:before {
    content: "\f140";
}
.flaticon-chevron-1:before {
    content: "\f141";
}
.flaticon-tap:before {
    content: "\f142";
}
.flaticon-star:before {
    content: "\f143";
}
.flaticon-star-1:before {
    content: "\f144";
}
.flaticon-bubble-chat:before {
    content: "\f145";
}
.flaticon-heart-1:before {
    content: "\f146";
}
.flaticon-email-1:before {
    content: "\f147";
}
.flaticon-email-2:before {
    content: "\f148";
}
.flaticon-facebook-2:before {
    content: "\f149";
}
.flaticon-whatsapp-3:before {
    content: "\f14a";
}
.flaticon-twitter-1:before {
    content: "\f14b";
}
.flaticon-twitter-2:before {
    content: "\f14c";
}
.flaticon-pinterest-2:before {
    content: "\f14d";
}
.flaticon-customer-satisfaction:before {
    content: "\f14e";
}
.flaticon-calendar:before {
    content: "\f14f";
}
.flaticon-left:before {
    content: "\f150";
}
.flaticon-up-arrow-1:before {
    content: "\f151";
}
.flaticon-search:before {
    content: "\f152";
}
.flaticon-magnifying-glass:before {
    content: "\f153";
}
.flaticon-shopping-cart-1:before {
    content: "\f154";
}
.flaticon-location-1:before {
    content: "\f155";
}
.flaticon-wifi-router:before {
    content: "\f156";
}
.flaticon-check-mark:before {
    content: "\f157";
}
.flaticon-down-arrow-4:before {
    content: "\f158";
}
.flaticon-left-chevron:before {
    content: "\f159";
}
.flaticon-chevron-2:before {
    content: "\f15a";
}
.flaticon-up-arrow-2:before {
    content: "\f15b";
}
.flaticon-next-2:before {
    content: "\f15c";
}
.flaticon-close:before {
    content: "\f15d";
}
.flaticon-search-1:before {
    content: "\f15e";
}
.flaticon-live:before {
    content: "\f15f";
}
.flaticon-phone-call-1:before {
    content: "\f160";
}
.flaticon-telephone-call:before {
    content: "\f161";
}
.flaticon-map:before {
    content: "\f162";
}
.flaticon-twitter-3:before {
    content: "\f163";
}
.flaticon-linkedin-2:before {
    content: "\f164";
}
.flaticon-skype-1:before {
    content: "\f165";
}
.flaticon-comment:before {
    content: "\f166";
}
.flaticon-time:before {
    content: "\f167";
}
.flaticon-time-1:before {
    content: "\f168";
}
.flaticon-award:before {
    content: "\f169";
}
.flaticon-down:before {
    content: "\f16a";
}
.flaticon-whatsapp-4:before {
    content: "\f16b";
}
.flaticon-linkedin-3:before {
    content: "\f16c";
}
.flaticon-skype-2:before {
    content: "\f16d";
}
.flaticon-pinterest-3:before {
    content: "\f16e";
}
.flaticon-quotes:before {
    content: "\f16f";
}
.flaticon-instagram-3:before {
    content: "\f170";
}
.flaticon-youtube-2:before {
    content: "\f171";
}
.flaticon-skype-3:before {
    content: "\f172";
}
.flaticon-instagram-4:before {
    content: "\f173";
}
.flaticon-control-system:before {
    content: "\f174";
}
.flaticon-up-down:before {
    content: "\f175";
}
.flaticon-phone-call-2:before {
    content: "\f176";
}
.flaticon-back-to-top:before {
    content: "\f177";
}
.flaticon-antena:before {
    content: "\f178";
}
.flaticon-24-hours:before {
    content: "\f179";
}
.flaticon-facebook-logo:before {
    content: "\f17a";
}
.flaticon-linkedin-4:before {
    content: "\f17b";
}
.flaticon-check-mark-1:before {
    content: "\f17c";
}
.flaticon-check-mark-2:before {
    content: "\f17d";
}
.flaticon-up-down-1:before {
    content: "\f17e";
}
.flaticon-save-instagram:before {
    content: "\f17f";
}
.flaticon-video:before {
    content: "\f180";
}
.flaticon-privacy-policy:before {
    content: "\f181";
}
.flaticon-content-marketing:before {
    content: "\f182";
}
.flaticon-smart-tv:before {
    content: "\f183";
}
.flaticon-arrow-up:before {
    content: "\f184";
}
.flaticon-time-2:before {
    content: "\f185";
}
.flaticon-global-network:before {
    content: "\f186";
}
.flaticon-up-arrow-3:before {
    content: "\f187";
}
.flaticon-approved:before {
    content: "\f188";
}
.flaticon-arrow-down:before {
    content: "\f189";
}
.flaticon-arrow-left:before {
    content: "\f18a";
}
.flaticon-up-and-down-arrow:before {
    content: "\f18b";
}
.flaticon-check-3:before {
    content: "\f18c";
}
.flaticon-review:before {
    content: "\f18d";
}
.flaticon-best-price:before {
    content: "\f18e";
}
.flaticon-verified:before {
    content: "\f18f";
}
